*.log
*.kate-swp
*.md




src/.doc


build/
bin/
exe/
devtools/
sandbox/
dev/
todo/
*.o
*.a
*.so
*.out


__pycache__/
*.pyc
.results/
control/
*.log
results/
!results/.gitkeep


.vscode/
.idea/
.DS_Store
devtools/

todo/
mynotes/
src/.doc






