
*.log
*.kate-swp
*.tmp
*.swp
.dir
commit_changes.log

**/CMakeCache.txt
**/CMakeFiles/
**/CMakeUserPresets.json
**/cmake_install.cmake
**/Makefile
**/install_manifest.txt
**/_deps/

**/build/
**/bin/
**/exe/
*.o
*.obj
*.a
*.lib
*.so
*.so.*
*.out

**/__pycache__/
*.pyc
*.pyo

run/results/**/*
!run/results/**/.gitkeep

tests/system_validation/**/results/
!tests/system_validation/**/results/.gitkeep

run/scripts/gnufiles/*.eps
run/scripts/gnufiles/*.pdf
run/scripts/gnufiles/*.png

.vscode/
.idea/
.DS_Store
Thumbs.db

mynotes/
sandbox/
